.contacts .fullscreen-wrapper {
  padding-bottom: 78px; //для футера
}

.contacts__header {
  display: inline-block;

  margin: 0 0 50px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid $mint-color;

  font-size: 44px;
  line-height: 51px;
  font-weight: 500;
}

.contacts__container {
  display: flex;

  padding-left: 56px;
  padding-bottom: 100px;
}

.contacts__list {
  width: 240px;
  margin: 0 60px 0 0;
  padding: 0;
}

.contacts__item {
  padding: 0;
  margin: 0 0 30px;
  list-style:none;
}

.contacts__item-title,
.contacts__form-title {
  margin: 0 0 20px;

  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__item-text,
.contacts__form-text {
  margin: 0 0 10px 0;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300;
}

.contacts__item-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 570px;
}

.feedback-form__field {
  width: 280px;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.feedback-form__textarea {
  width: 100%;

  textarea {
    width: 100%;
    height: 144px;

    box-sizing: border-box;
    resize: none;
  }
}

@media (max-width: $tablet-width) {
  .contacts__header {
    margin-left: 0;
    margin-bottom: 40px;

    font-size: 32px;
  }

  .contacts__container {
    padding-left: 0;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 25px;
  }

  .contacts__item {
    margin-bottom: 0;
  }


  .feedback-form {
    width: 420px;
  }

  .feedback-form__button {
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-width) {
  .contacts .fullscreen-wrapper {
    padding-bottom: 128px; //для футера
  }

  .contacts__header {
    display: block;

    margin-bottom: 30px;
    padding-right: 0;

    font-size: 28px;
    line-height: 32px;
  }

  .contacts__container {
    flex-direction: column;
    padding-bottom: 80px;
  }

  .contacts__list {
    width: 100%;

    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts__item {
    margin-bottom: 30px;
  }

  .contacts__item-title {
    margin-bottom: 13px;
  }

  .contacts__item-text {
    margin-bottom: 5px;
  }

  .contacts__form-title {
    margin-bottom: 10px;
  }

  .feedback-form {
    width: 100%;
    max-width: 420px;
  }

  .feedback-form__field {
    width: 100%;
  }

  .feedback-form__button {
    margin-bottom: 0;
  }

}

