.intro {
  height: 100vh;

  box-sizing: border-box;

  background-image: url("../img/kid_VR@1x.png"), url("../img/body-background-main@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 430px 350px, cover;
  background-position: bottom right, top center; //временно у пацана отступ сверху, пока не порешаем с экраном

  .fullscreen-wrapper {
    padding-top: 227px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: $retina-dpi),
(min-resolution: $retina-dppx) {
  .intro {
    background-image: url("../img/kid_VR@2x.png"), url("../img/body-background-main@2x.jpg");
  }
}

.intro__container {
  padding-left: 71px;
}

.intro__title {
  font-size: 96px;
  font-weight: normal;
  line-height: 110px;
  margin: 0 0 24px;
}

.intro__text {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 71px;
}

.intro__button-container {
  //margin-bottom: 190px;

  margin-bottom: 40px;
}

.intro__button {
  display: inline-block;
  padding: 18px 18px 20px 80px;
  font-size: 21px;
  text-align: left;
}

.intro__button-order {
  position: relative;

  min-width: 238px;
  width: auto;
  margin-right: 20px;
  background-color: $mint-color;
  border: none;

  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.intro__button-order:hover {
  border-color: $mint-color-hover;
}

.intro__button-order::before,
.intro__button-video::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-ticket.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: 0 0;
  width: 31px;
  height: 31px;
  top: 16px;
  left: 37px;
}

.intro__button-video {
  position: relative;
  min-width: 201px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 3px;
  text-decoration: none;
}

.intro__button-video::before {
  background-image: url("../img/icon-video.svg");
}

@media (max-width: $tablet-width) {

  .intro {
    background-image: url("../img/body-background-main@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    .intro {
      background-image: url("../img/body-background-main@2x.jpg");
    }
  }

  .intro__container {
    padding-left: 0;
  }

  .intro__title {
    margin-bottom: 45px;

    font-size: 66px;
    text-align: center;
  }

  .intro__text {
    width: 550px;
    margin: 0 auto 100px;

    text-align: center;
  }

  .intro__button-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .intro__button {
    width: 240px;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width) {
  .intro__button-container {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
  }
}
