.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding-bottom: 30px;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;

  max-width: 1280px;
  height: 24px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-footer__text {
  margin: 0;
  opacity: 0.64;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.page-footer__social-item {
  list-style: none;
}

.page-footer__social-link {
  padding: 5px 6px;
  opacity: 0.64;

  transition: opacity 0.3s ease;

  svg {
    fill:$white-color;
  }

  &:hover {
    opacity: 1;
  }
}


@media (max-width: $tablet-width) {
  .page-footer {
    padding-bottom: 15px;
  }

  .page-footer__text {
    font-size: 13px;
  }
}

