.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 74px;

  padding-top: 40px;
  margin-bottom: 153px;

  //background: linear-gradient(#000, #000, transparent);

  z-index: 999;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap:wrap;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;

  box-sizing: border-box;
}

.page-header__logo {
  margin: 0;
  height: 28px;
}

.page-header__logo-image {
  fill: $white-color;
}

.page-header__logo-image:hover {
  fill: $mint-color;
}

.page-header__logo-image,
.page-header__logo-image--main {
  transition: fill 0.2s ease;
}

.page-header__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 255px;
}

.page-header__tel {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.page-header__link {
  text-decoration: none;
}

.page-header__toggle {
  display: none;

  position: relative;

  width: 44px;
  height: 40px;

  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;

  &::before {
    content: '';

    position: absolute;
    top: 13px;
    left: 10px;

    width: 24px;
    height: 4px;

    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
  }
  &::after {
    content: '';

    position: absolute;
    top: 25px;
    right: 10px;

    width: 16px;
    height: 2px;

    background-color: #E0E0E0;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    position: absolute;
  }

  .page-header__wrapper {
    max-width: 100%;

    padding: 0 3%;
  }

  .page-header__logo {
    width: 28px;
    overflow: hidden;
  }

  .page-header__order {
    width: auto;
  }

  .page-header__button,
  .page-header__tel {
    display: none;
  }
}

@media (max-width: $mobile-width) {

  .page-header {
    //position: relative; //для мобильного меню

    height: 78px;

    box-sizing: border-box;
    padding-top: 25px;
    margin-bottom: 0;
  }

  .page-header__menu-open {
    width: 100%;
    max-width: 568px;
    height: 100vh;
    max-height: 568px;

    background-color: rgba(28,28,28, 0.95);

    .site-nav {
      display: flex;
    }
    .site-nav__contacts {
      display: block;
    }

    .page-header__toggle {
      width: 44px;
      height: 40px;
      background-color: transparent;
    }

    .page-header__toggle::after,
    .page-header__toggle::before {
      top: 8px;
      left: 20px;
      right:auto;

      width: 2px;
      height: 24px;
      border: none;
      background-color: $white-color;

      transform: rotate(-45deg);
    }

    .page-header__toggle::after {
      transform: rotate(45deg);
    }

  }

  .page-header__wrapper {
    padding: 0 4%;
  }

  .page-header__logo {
    padding: 6px;
    overflow: hidden;
  }

  .page-header__toggle {
    display: block;
  }

  .page-header__button {
    display: block;
  }
}

