.technology__header {
  display: inline-block;

  margin: 0 0 73px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid $mint-color;

  font-size: 44px;
  line-height: 51px;
  font-weight: 500;
}

.technology-slider {
  position: relative;

  width:1200px;
  padding-left: 56px;
  box-sizing: border-box;
}

.technology-slider__picture-container {
  position: absolute;
  top: -48px;
  left: 343px;

  width: 480px;
  height: 480px;

  box-sizing: border-box;
  padding: 36px;
  background-image:url(../img/technology-slider-ellipse.svg);
  background-position: center center;
  background-size: contain;
}

.technology-slider__picture {
  width: 408px;
  height: 408px;
  margin: 0;

  background-color: $white-color;
  border-radius: 50%;
}

.technology-slider__image {
  position: absolute;
  top: 141px;
  left: 47px;
}

.technology-slider__button-enlarge {
  position: absolute;
  right: 50px;
  bottom: 56px;

  width: 85px;
  height: 85px;
  margin: 0;
  padding: 25px 27px;

  background-color: $mint-color;
  border: none;
  border-radius:50%;
  box-sizing:border-box;
  cursor: pointer;

  transition: background-color 0.3s ease;

  z-index: 1;

  &:hover {
    background-color: $mint-color-hover;
  }
}

.technology-slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.technology-slider__item {
  display: block;
  position: relative;

  box-sizing:border-box;

  &::after {
    content:"";

    position: absolute;
  }

  &--1 {
    width: 392px;
    padding-right: 112px;
    margin-right: 185px;

    &::after {
      top: 13px;
      left: 211px;

      width: 181px;
      height: 115px;
      background-image: url(../img/pointer-1.svg);
    }
  }

  &--2 {
    width: 537px;
    padding-left: 257px;

    &::after {
      top: 13px;
      left: 0;

      width: 245px;
      height: 98px;
      background-image: url(../img/pointer-2.svg);
    }
  }

  &--3 {
    position: relative;
    top: -30px;

    width: 573px;
    padding-right: 294px;
    padding-top: 66px;
    margin-right: 123px;

    &::after {
      top: 0;
      right: 0;

      width: 409px;
      height: 82px;
      background-image: url(../img/pointer-3.svg);
    }
  }

  &--4 {
    position: relative;
    top: -30px;

    width: 415px;
    padding-left: 135px;
    padding-top: 75px;

    &::after {
      top: 0;
      left: 0;

      width: 123px;
      height: 90px;
      background-image: url(../img/pointer-4.svg);
    }
  }
}

.technology-slider__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}

.technology-slider__item-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 300;
}

.technology-slider__controls {
  display: none;
}


@media (max-width: $tablet-width) {
  .technology__header {
    margin-left: 0;
    margin-bottom: 40px;

    font-size: 32px;
  }

  .technology-slider {
    width: 444px;
    margin: 0 auto;
    padding-left: 0;
  }

  .technology-slider__item {
    display: none;
    flex-direction:column;

    width: 100%;
    margin: 0 0 20px 0;

    &::after {
      display: none;
    }

    &--1 {
      padding-right: 0;
    }
  }

  .technology-slider__picture-container {
    position: relative;
    top: 0;
    left: 0;

    width: auto;
    height: auto;

    margin-bottom: 30px;
    padding: 0;
    background:none;
  }

  .technology-slider__image {
    top: 111px;
    left: 17px;
  }

  .technology-slider__button-enlarge {
    display: none;
  }

  .technology-slider__item.slider__item-current {
    display: flex;
  }

  .technology-slider .slider__controls {
    display: flex;
  }
}


@media (max-width: $mobile-width) {
  .technology__header {
    display: block;

    padding-right: 0;

    font-size: 28px;
    line-height: 32px;
  }

  .technology-slider {
    width: 288px;
  }

  .technology-slider__item {
    margin-bottom: 10px;
  }

  .technology-slider__picture {
    width: 288px;
    height: 288px;
  }

  .technology-slider__image {
    top: 75px;
    left: 10px;

    width: 296px;
    height: 152px;
  }


}
