@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-300.woff2") format("woff2"), url("../fonts/ubuntu-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-500.woff2") format("woff2"), url("../fonts/ubuntu-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-700.woff2") format("woff2"), url("../fonts/ubuntu-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Ubuntu", "Arial", sans-serif;
  color: #ffffff;
  background-color: #0D1117;
  background-image: linear-gradient(252.67deg, rgba(23, 26, 28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: 0 0, 50% 25%;
  background-attachment: fixed, fixed; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  body {
    background-image: linear-gradient(252.67deg, rgba(23, 26, 28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background@2x.jpg"); } }

a {
  color: #ffffff; }
  a:hover {
    color: #15b38d; }
  a:active, a:focus {
    color: #15b38d;
    opacity: 0.75; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 10px;
  padding: 15px 25px 15px 15px;
  border: none;
  background-color: #ffffff;
  font-size: 13px;
  color: #0D1117;
  opacity: 0.8; }

.fullscreen-wrapper {
  position: relative;
  max-width: 1280px;
  height: 100vh;
  min-height: 768px;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (max-width: 1279px) {
  body {
    font-size: 15px; }
  .fullscreen-wrapper {
    max-width: 768px;
    height: auto;
    padding-top: 7%;
    padding-right: 3%;
    padding-left: 3%; } }

@media (max-width: 767px) {
  body {
    background-image: linear-gradient(252.67deg, rgba(23, 26, 28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background_mobile@1x.jpg");
    background-position: center 100vh;
    background-attachment: unset;
    background-size: 140%; } }

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  body {
    background-image: linear-gradient(252.67deg, rgba(23, 26, 28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background@1x.jpg"); } }

@media (max-width: 767px) {
  .fullscreen-wrapper {
    min-height: auto;
    padding-top: 80px;
    padding-right: 5%;
    padding-left: 5%; } }

.button {
  background-color: transparent;
  border: 2px solid #15b38d;
  border-radius: 2px;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .button:hover {
    border-color: #0dd1a2;
    background-color: #0dd1a2;
    color: #ffffff; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.slider__list {
  margin: 0;
  padding: 0; }

.slider__item {
  display: none;
  list-style: none; }

.slider__item-current {
  display: block; }

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.slider__pagination {
  padding: 13px 21px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  cursor: default; }

.slider__pagination-current {
  opacity: 0.84; }

.slider__pagination-total {
  opacity: 0.5; }

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.slider__button {
  position: relative;
  display: block;
  width: 60px;
  height: 48px;
  background-color: #1c1c1c;
  border: none;
  cursor: pointer; }
  .slider__button::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 50%;
    width: 11px;
    height: 11px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease; }
  .slider__button:hover::before {
    border-color: #0dd1a2; }
  .slider__button:focus {
    border: 1px solid #0dd1a2; }

.slider__button--prev::before {
  -webkit-transform: translateX(-50%) rotate(135deg);
          transform: translateX(-50%) rotate(135deg);
  left: 57%; }

.slider__button--next::before {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg); }

.slider__button--disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

@media (max-width: 1279px) {
  .slider__controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 74px;
  padding-top: 40px;
  margin-bottom: 153px;
  z-index: 999; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page-header__logo {
  margin: 0;
  height: 28px; }

.page-header__logo-image {
  fill: #ffffff; }

.page-header__logo-image:hover {
  fill: #15b38d; }

.page-header__logo-image,
.page-header__logo-image--main {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease; }

.page-header__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 255px; }

.page-header__tel {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold; }

.page-header__link {
  text-decoration: none; }

.page-header__contacts,
.page-header__toggle {
  display: none; }

.page-header__toggle {
  position: relative;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .page-header__toggle::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 10px;
    width: 24px;
    height: 4px;
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0; }
  .page-header__toggle::after {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 16px;
    height: 2px;
    background-color: #E0E0E0; }

@media (max-width: 1279px) {
  .page-header {
    position: absolute; }
  .page-header__wrapper {
    max-width: 100%;
    padding: 0 3%; }
  .page-header__logo {
    width: 28px;
    overflow: hidden; }
  .page-header__order {
    width: auto; }
  .page-header__button,
  .page-header__tel {
    display: none; } }

@media (max-width: 767px) {
  .page-header {
    height: auto;
    padding-top: 4%; }
  .page-header__wrapper {
    padding: 0 4%; }
  .page-header__logo {
    padding: 10px;
    overflow: hidden; }
  .page-header__toggle {
    display: block; }
  .page-header__button {
    display: block; } }

.site-nav {
  width: 620px; }

.site-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.site-nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500; }
  .site-nav__link::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background-color: #B0ACAC;
    border-radius: 50%; }

.site-nav__item:first-child .site-nav__link::before {
  display: none; }

@media (max-width: 1279px) {
  .site-nav {
    width: 70%;
    max-width: 620px; }
  .site-nav__link {
    font-size: 14px; }
    .site-nav__link::before {
      display: none; } }

@media (max-width: 767px) {
  .site-nav {
    display: none; } }

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1280px;
  height: 24px;
  margin: 0 auto;
  padding: 0 15px; }

.page-footer__text {
  margin: 0;
  opacity: 0.64; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0; }

.page-footer__social-item {
  list-style: none; }

.page-footer__social-link {
  padding: 5px 6px;
  opacity: 0.64;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .page-footer__social-link svg {
    fill: #ffffff; }
  .page-footer__social-link:hover {
    opacity: 1; }

@media (max-width: 1279px) {
  .page-footer__text {
    font-size: 13px; } }

@media (max-width: 767px) {
  .page-footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0 4%; }
  .page-footer__text {
    margin-bottom: 5px; }
  .page-footer__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 15px; } }

.intro {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/kid_VR@1x.png"), linear-gradient(252.67deg, rgba(23, 26, 28, 0.1) 0%, rgba(94, 94, 87, 0.1) 99.69%), radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0.2) 50.28%, rgba(0, 0, 0, 0.2) 100%), url("../img/body-background-main@1x.jpg");
  background-repeat: no-repeat;
  background-size: 430px 350px, auto, auto, cover;
  background-position: bottom right, center center, 0 0, top center; }
  .intro .fullscreen-wrapper {
    padding-top: 227px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/kid_VR@2x.png"), linear-gradient(252.67deg, rgba(23, 26, 28, 0.1) 0%, rgba(94, 94, 87, 0.1) 99.69%), radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(0, 0, 0, 0.2) 100%), url("../img/body-background-main@2x.jpg"); } }

.intro__container {
  padding-left: 71px; }

.intro__title {
  font-size: 96px;
  font-weight: normal;
  line-height: 110px;
  margin: 0 0 24px; }

.intro__text {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 71px; }

.intro__button-container {
  margin-bottom: 40px; }

.intro__button {
  display: inline-block;
  padding: 18px 18px 20px 80px;
  font-size: 21px;
  text-align: left; }

.intro__button-order {
  position: relative;
  min-width: 238px;
  width: auto;
  margin-right: 20px;
  background-color: #15b38d;
  border: none;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out; }

.intro__button-order:hover {
  border-color: #0dd1a2; }

.intro__button-order::before,
.intro__button-video::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-ticket.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: 0 0;
  width: 31px;
  height: 31px;
  top: 16px;
  left: 37px; }

.intro__button-video {
  position: relative;
  min-width: 201px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 3px;
  text-decoration: none; }

.intro__button-video::before {
  background-image: url("../img/icon-video.svg"); }

@media (max-width: 1279px) {
  .intro {
    background-image: linear-gradient(252.67deg, rgba(23, 26, 28, 0.2) 0%, rgba(94, 94, 87, 0.2) 99.69%), radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0.2) 50.28%, rgba(0, 0, 0, 0.2) 100%), url("../img/body-background-main_mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto, auto, cover;
    background-position: center center, 0 0, top center; }
    .intro .fullscreen-wrapper {
      padding-top: 227px; } }

@media (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1279px) and (min-resolution: 144dpi), (max-width: 1279px) and (min-resolution: 1.5dppx) {
  .intro {
    background-image: linear-gradient(252.67deg, rgba(23, 26, 28, 0.2) 0%, rgba(94, 94, 87, 0.2) 99.69%), radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(0, 0, 0, 0.2) 100%), url("../img/body-background-main@1x.jpg"); } }

@media (max-width: 1279px) {
  .intro__container {
    padding-left: 0; }
  .intro__title {
    margin-bottom: 45px;
    font-size: 66px;
    text-align: center; }
  .intro__text {
    width: 550px;
    margin: 0 auto 100px;
    text-align: center; }
  .intro__button-container {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
  .intro__button {
    width: 240px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .intro .fullscreen-wrapper {
    padding-top: 146px; }
  .intro__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 41px; }
  .intro__text {
    width: 100%;
    max-width: 410px;
    margin: 0 auto 50px; }
  .intro__button-container {
    width: 100%;
    max-width: 410px;
    margin: 0 auto; }
  .intro__button {
    width: 207px;
    min-width: 207px;
    margin: 0 auto 12px;
    padding: 15px 15px 15px 70px;
    font-size: 18px; }
  .intro__button-order::before,
  .intro__button-video::before {
    left: 30px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px; } }

.about__header {
  display: inline-block;
  margin: 0 0 50px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid #15b38d;
  font-size: 44px;
  line-height: 51px;
  font-weight: 500; }

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 56px; }

.about__desc {
  width: 440px; }

.about__text {
  margin: 0 0 25px; }

.about__slider {
  position: relative;
  margin-top: 100px;
  padding-right: 30px; }

.about__slider-header {
  position: absolute;
  bottom: 78px;
  left: -160px;
  width: 192px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-align: right;
  z-index: 1; }

.product-slider {
  padding-top: 15px;
  padding-right: 15px; }

.product-slider__list {
  position: relative; }
  .product-slider__list::before {
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 564px;
    height: 280px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 4px solid #15b38d; }

.product-slider__item {
  position: relative;
  width: 561px;
  height: 300px;
  overflow: hidden; }

@media (max-width: 1279px) {
  .about__header {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 32px; }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0; }
  .about__desc {
    width: 100%;
    margin-bottom: 25px; }
  .about__slider {
    width: 561px;
    margin: 0 auto;
    padding-right: 0; }
  .product-slider {
    padding: 0; }
  .about__slider-header {
    position: static;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: left; }
  .product-slider__list::before {
    display: none; } }

@media (max-width: 767px) {
  .about__header {
    display: block;
    padding-right: 0;
    font-size: 28px;
    line-height: 32px; }
  .about__text {
    font-size: 17px; }
  .about__desc {
    margin-bottom: 15px; }
  .about__slider {
    width: 100%;
    max-width: 561px;
    overflow: hidden; }
  .product-slider__item {
    width: 100%;
    max-width: 561px;
    height: auto; }
  .product-slider__slide-image {
    width: 100%;
    height: auto; }
  .about__slider-header {
    margin-bottom: 10px;
    font-size: 18px; } }

.howitworks__header {
  display: inline-block;
  margin: 0 0 58px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid #15b38d;
  font-size: 44px;
  line-height: 51px;
  font-weight: 500; }

.worksteps-slider {
  padding-left: 56px; }

.worksteps-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.worksteps-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px; }
  .worksteps-slider__item::after {
    position: absolute;
    top: 98px;
    left: -8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    color: #0dd1a2; }
  .worksteps-slider__item-1 {
    margin-bottom: 107px;
    margin-right: 68px; }
    .worksteps-slider__item-1::before {
      content: "";
      position: absolute;
      left: 329px;
      top: 0;
      width: 245px;
      height: 47px;
      background-image: url(../img/stripe-1.svg); }
    .worksteps-slider__item-1::after {
      content: "1"; }
  .worksteps-slider__item-2 {
    margin-top: 17px; }
    .worksteps-slider__item-2::before {
      content: "";
      position: absolute;
      left: -473px;
      top: 140px;
      width: 463px;
      height: 63px;
      background-image: url(../img/stripe-2.svg); }
    .worksteps-slider__item-2::after {
      content: "2"; }
  .worksteps-slider__item-3 {
    margin-left: 23px;
    margin-right: 80px; }
    .worksteps-slider__item-3::before {
      content: "";
      position: absolute;
      left: 344px;
      top: 18px;
      width: 245px;
      height: 47px;
      background-image: url(../img/stripe-1.svg); }
    .worksteps-slider__item-3::after {
      content: "3"; }
  .worksteps-slider__item-4 {
    margin-top: 33px; }
    .worksteps-slider__item-4::after {
      content: "4"; }

.worksteps-slider__picture {
  position: relative;
  width: 195px;
  height: 130px; }
  .worksteps-slider__picture::before {
    content: "";
    position: absolute;
    top: -12px;
    right: -12px;
    width: 100%;
    height: 100%;
    border: 2px solid #15b38d;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: -1; }

.worksteps-slider__description {
  width: 270px; }

.worksteps-slider__title {
  width: 120px;
  margin: 0 0 10px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700; }

.worksteps-slider__text {
  margin: 0;
  font-size: 15px;
  line-height: 19px; }

.worksteps-slider .slider__controls {
  display: none; }

@media (max-width: 1279px) {
  .howitworks__header {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 32px; }
  .worksteps-slider {
    padding-left: 0;
    padding-top: 15px; }
  .worksteps-slider__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .worksteps-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 45%;
    margin: 0 0 55px 0; }
    .worksteps-slider__item::before {
      display: none; }
    .worksteps-slider__item::after {
      left: 22px; }
  .worksteps-slider__picture {
    margin-left: 30px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .howitworks__header {
    display: block;
    padding-right: 0;
    font-size: 28px;
    line-height: 32px; }
  .worksteps-slider {
    width: 300px;
    margin: 0 auto; }
  .worksteps-slider__item.slider__item {
    display: none;
    width: 100%;
    margin-bottom: 20px; }
  .worksteps-slider__item.slider__item.slider__item-current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .worksteps-slider .slider__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.technology__header {
  display: inline-block;
  margin: 0 0 73px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid #15b38d;
  font-size: 44px;
  line-height: 51px;
  font-weight: 500; }

.technology-slider {
  position: relative;
  width: 1200px;
  padding-left: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.technology-slider__picture-container {
  position: absolute;
  top: -48px;
  left: 343px;
  width: 480px;
  height: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 36px;
  background-image: url(../img/technology-slider-ellipse.svg);
  background-position: center center;
  background-size: contain; }

.technology-slider__picture {
  width: 408px;
  height: 408px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 50%; }

.technology-slider__image {
  position: absolute;
  top: 141px;
  left: 47px; }

.technology-slider__button-enlarge {
  position: absolute;
  right: 50px;
  bottom: 56px;
  width: 85px;
  height: 85px;
  margin: 0;
  padding: 25px 27px;
  background-color: #15b38d;
  border: none;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  z-index: 1; }
  .technology-slider__button-enlarge:hover {
    background-color: #0dd1a2; }

.technology-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.technology-slider__item {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .technology-slider__item::after {
    content: "";
    position: absolute; }
  .technology-slider__item--1 {
    width: 392px;
    padding-right: 112px;
    margin-right: 185px; }
    .technology-slider__item--1::after {
      top: 13px;
      left: 211px;
      width: 181px;
      height: 115px;
      background-image: url(../img/pointer-1.svg); }
  .technology-slider__item--2 {
    width: 537px;
    padding-left: 257px; }
    .technology-slider__item--2::after {
      top: 13px;
      left: 0;
      width: 245px;
      height: 98px;
      background-image: url(../img/pointer-2.svg); }
  .technology-slider__item--3 {
    position: relative;
    top: -30px;
    width: 573px;
    padding-right: 294px;
    padding-top: 66px;
    margin-right: 123px; }
    .technology-slider__item--3::after {
      top: 0;
      right: 0;
      width: 409px;
      height: 82px;
      background-image: url(../img/pointer-3.svg); }
  .technology-slider__item--4 {
    position: relative;
    top: -30px;
    width: 415px;
    padding-left: 135px;
    padding-top: 75px; }
    .technology-slider__item--4::after {
      top: 0;
      left: 0;
      width: 123px;
      height: 90px;
      background-image: url(../img/pointer-4.svg); }

.technology-slider__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700; }

.technology-slider__item-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 300; }

.technology-slider__controls {
  display: none; }

@media (max-width: 1279px) {
  .technology__header {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 32px; }
  .technology-slider {
    width: 444px;
    margin: 0 auto;
    padding-left: 0; }
  .technology-slider__item {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 0 20px 0; }
    .technology-slider__item::after {
      display: none; }
    .technology-slider__item--1 {
      padding-right: 0; }
  .technology-slider__picture-container {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
    background: none; }
  .technology-slider__image {
    top: 111px;
    left: 17px; }
  .technology-slider__button-enlarge {
    display: none; }
  .technology-slider__item.slider__item-current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .technology-slider .slider__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .technology__header {
    display: block;
    padding-right: 0;
    font-size: 28px;
    line-height: 32px; }
  .technology-slider {
    width: 288px; }
  .technology-slider__item {
    margin-bottom: 10px; }
  .technology-slider__picture {
    width: 288px;
    height: 288px; }
  .technology-slider__image {
    top: 75px;
    left: 10px;
    width: 296px;
    height: 152px; } }

.questions {
  background-image: url(../img/boy.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 235px 264px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .questions {
    background-image: url(../img/boy@2x.png); } }

.questions__header {
  display: inline-block;
  margin: 0 0 32px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid #15b38d;
  font-size: 44px;
  line-height: 51px;
  font-weight: 500; }

.questions__accordeon {
  padding-left: 56px; }

.accrodeon__list {
  width: 904px;
  margin: 0;
  padding: 0; }

.accrodeon__item {
  position: relative;
  list-style: none;
  margin: 0 0 5px;
  padding: 19px 90px 20px 39px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #1c1c1c; }
  .accrodeon__item::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 18px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #0dd1a2; }

.accordeon__question p {
  margin: 0;
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  opacity: 0.8; }

.accrodeon__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 72px;
  height: 67px;
  border: none;
  background-color: #15b38d;
  border-radius: 0; }

.accrodeon__button::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 50%;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%); }

.accrodeon__button::after {
  content: "";
  position: absolute;
  left: 33px;
  top: 50%;
  width: 2px;
  height: 24px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.accrodeon__item-opened .accrodeon__button::before {
  -webkit-transform: rotate(45deg) translateY(-25%);
          transform: rotate(45deg) translateY(-25%); }

.accrodeon__item-opened .accrodeon__button::after {
  left: 22px;
  -webkit-transform: rotate(45deg) translateY(-65%);
          transform: rotate(45deg) translateY(-65%); }

.accordeon__answer {
  display: none; }

.accrodeon__item-opened .accordeon__answer {
  display: block; }

@media (max-width: 1279px) {
  .questions {
    background-image: none; }
  .questions__header {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 32px; }
  .questions__accordeon {
    padding-left: 0; }
  .accrodeon__list {
    width: 100%; } }

@media (max-width: 767px) {
  .questions__header {
    display: block;
    margin-bottom: 28px;
    padding-right: 0;
    font-size: 28px;
    line-height: 32px; }
  .questions__accordeon {
    margin: 0 -7px; }
  .accrodeon__item {
    padding: 10px 32px 10px 8px; }
    .accrodeon__item::before {
      display: none; }
  .accordeon__question p {
    font-size: 17px;
    line-height: 21px; }
  .accrodeon__button {
    width: 32px;
    height: 100%;
    padding: 0; }
  .accrodeon__button::before {
    left: 9px;
    width: 16px; }
  .accrodeon__button::after {
    left: 16px;
    width: 2px;
    height: 16px; }
  .accrodeon__item-opened .accrodeon__button {
    max-height: 88px; }
  .accrodeon__item-opened .accrodeon__button::before {
    -webkit-transform: rotate(45deg) translateY(-25%);
            transform: rotate(45deg) translateY(-25%); }
  .accrodeon__item-opened .accrodeon__button::after {
    left: 9px;
    -webkit-transform: rotate(45deg) translateY(-65%);
            transform: rotate(45deg) translateY(-65%); } }

.contacts .fullscreen-wrapper {
  padding-bottom: 78px; }

.contacts__header {
  display: inline-block;
  margin: 0 0 50px 26px;
  padding-right: 40px;
  padding-bottom: 6px;
  border-bottom: 3px solid #15b38d;
  font-size: 44px;
  line-height: 51px;
  font-weight: 500; }

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 56px;
  padding-bottom: 100px; }

.contacts__list {
  width: 240px;
  margin: 0 60px 0 0;
  padding: 0; }

.contacts__item {
  padding: 0;
  margin: 0 0 30px;
  list-style: none; }

.contacts__item-title,
.contacts__form-title {
  margin: 0 0 20px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700; }

.contacts__item-text,
.contacts__form-text {
  margin: 0 0 10px 0;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300; }

.contacts__item-link {
  text-decoration: none; }
  .contacts__item-link:hover {
    text-decoration: underline;
    color: #ffffff; }

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 570px; }

.feedback-form__field {
  width: 280px; }
  .feedback-form__field input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.feedback-form__textarea {
  width: 100%; }
  .feedback-form__textarea textarea {
    width: 100%;
    height: 144px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    resize: none; }

@media (max-width: 1279px) {
  .contacts__header {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 32px; }
  .contacts__container {
    padding-left: 0; }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 25px; }
  .contacts__item {
    margin-bottom: 0; }
  .feedback-form {
    width: 420px; }
  .feedback-form__button {
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  .contacts .fullscreen-wrapper {
    padding-bottom: 128px; }
  .contacts__header {
    display: block;
    margin-bottom: 30px;
    padding-right: 0;
    font-size: 28px;
    line-height: 32px; }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 80px; }
  .contacts__list {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
  .contacts__item {
    margin-bottom: 30px; }
  .contacts__item-title {
    margin-bottom: 13px; }
  .contacts__item-text {
    margin-bottom: 5px; }
  .contacts__form-title {
    margin-bottom: 10px; }
  .feedback-form {
    width: 100%;
    max-width: 420px; }
  .feedback-form__field {
    width: 100%; }
  .feedback-form__button {
    margin-bottom: 0; } }

.scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 30px; }

.scroll__container {
  position: relative; }

.scroll__social {
  position: absolute;
  left: 15px;
  top: 3px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.scroll__social-item {
  list-style: none; }

.scroll__social-link {
  padding: 5px 6px;
  opacity: 0.64;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .scroll__social-link:hover {
    opacity: 1; }
  .scroll__social-link svg {
    fill: #ffffff; }

.scroll__text {
  margin: 0;
  text-align: center; }

.scroll__link {
  display: inline-block;
  position: relative;
  height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  opacity: 0.64; }
  .scroll__link:hover {
    opacity: 1;
    color: #ffffff; }
  .scroll__link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 10px;
    height: 9px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: rotate(-45deg) translateX(-50%);
            transform: rotate(-45deg) translateX(-50%); }

.scroll__link-arrow {
  display: block;
  height: 25px;
  margin: 0 auto; }

.scroll__link-arrow::after {
  bottom: 12px; }

@media (max-width: 1279px) {
  .scroll {
    display: none; } }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999; }

.modal-opened {
  display: block; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f3f3f3;
  color: #0D1117;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer; }

.modal__close-button::after,
.modal__close-button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 2px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.modal__close-button::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.modal__close-button:focus {
  outline: 1px solid #0dd1a2; }

.modal__header {
  padding: 0;
  margin: 0 0 13px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-align: center; }

.modal__text {
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 19px; }

.modal-order {
  width: 560px;
  margin-left: -280px;
  margin-top: -190px;
  padding: 60px 79px; }
  .modal-order .modal__text {
    text-align: center; }

.order-form__fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.order-form__input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); }

.order-form__button-field {
  padding-top: 21px;
  text-align: center; }

.order-form__button {
  color: rgba(0, 0, 0, 0.4); }

.modal-order__screen2 {
  display: none; }

.screen-success {
  position: relative;
  padding-top: 80px; }
  .screen-success::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 64px;
    height: 60px;
    margin-left: -32px;
    background-image: url(../img/icon-success.svg); }

@media (max-width: 1279px) {
  .modal-order {
    margin-top: 0;
    top: 15%; }
  .page-footer__text {
    font-size: 13px; } }

/*# sourceMappingURL=style.css.map */
