@mixin reset-list-style() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

@mixin site-fullwidth() {
  min-width:$desktop-width;

  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin site-tabletwidth() {
  min-width:$mobile-width;

  padding: 0 10%;
}
