@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-300.woff2") format("woff2"), url("../fonts/ubuntu-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-500.woff2") format("woff2"), url("../fonts/ubuntu-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-700.woff2") format("woff2"), url("../fonts/ubuntu-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative; //для футера

  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  font-family: $font-family;
  color: $white-color;

  background-color: $black-color;
  background-image: linear-gradient(252.67deg, rgba(23,26,28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: 0 0, 50% 25%;
  background-attachment: fixed, fixed;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: $retina-dpi),
(min-resolution: $retina-dppx) {
  body {
    background-image: linear-gradient(252.67deg, rgba(23,26,28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background@2x.jpg");
  }
}

a {
  color: $white-color;
  &:hover {
    color: $mint-color;
  }
  &:active,
  &:focus {
    color: $mint-color;
    opacity: 0.75;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden:not(:focus):not(:active){
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="text"],
input[type="email"],
textarea {
  margin-bottom:10px;
  padding: 15px 25px 15px 15px;
  border: none;
  background-color: $white-color;

  font-size: 13px;
  color: $black-color;

  opacity: 0.8;
}

.fullscreen-wrapper {
  position: relative; //для скролла

  max-width: 1280px;
  height: 100vh;
  min-height: 768px;

  margin: 0 auto;
  padding-top: 150px; //для фиксированной шапки
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: $tablet-width) {

  body {
    font-size: 15px;
  }

  .fullscreen-wrapper {
    max-width: 768px;
    height: auto;

    padding-top: 7%;
    padding-right: 3%;
    padding-left: 3%;

  }
}

@media (max-width: $mobile-width) {
  body {
    background-image: linear-gradient(252.67deg, rgba(23,26,28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background_mobile@1x.jpg");
    background-position: center 100vh;
    background-attachment: unset;
    background-size: 140%;
  }

  @media (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      body {
        background-image: linear-gradient(252.67deg, rgba(23,26,28, 0.4) 0%, rgba(94, 94, 87, 0.3) 99.69%), url("../img/body-background@1x.jpg");
      }
    }

  .fullscreen-wrapper {
    min-height: auto;

    padding-top: 80px;
    padding-right: 5%;
    padding-left: 5%;
  }
}


