$font-family: "Ubuntu", "Arial", sans-serif;

$site-width: 1278px;

$black-color: #0D1117;
$white-color: #ffffff;
$mint-color: #15b38d;
$mint-color-hover:#0dd1a2;
$grey-color: #B0ACAC;
$dark-grey-color: #1c1c1c;
$light-color: #f3f3f3;



$mobile-width: 728px;
$tablet-width: 1280px;
$desktop-width: 1281px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
